/.git
/.github
/.vscode
/.idea
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*
/.env
/.env.*.local
/.DS_Store
/Thumbs.db
/.editorconfig
/.gitattributes
/.gitignore
/sail
/docker-compose.yml
/.dockerignore
/Dockerfile
/dist
/build
*.log
